
  
  .wrapper {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 100px 100px;
      gap: 10px;
  }

  .box
{
 background-color: aquamarine;
 box-shadow: 10px black;
 text-align:justify;
 
}
  .box {
      float: left;
      width: 150px;
      height: 150px;
      margin-right: 30px;
  }